body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: #FFFFFF;
}

:root{
    --body-tex-color: #E5E5E5;
    --background-color: #2F303A;
    --head-color: #FFFFFF;
    --text-color: #757575;
    --header-text-color: #212121;
    --section-padding: 94px;
    
}

